* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: #070707;
    margin-top: 100px;
}

h1 {
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 100px;
}