* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/bg_images/bg-image1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

canvas {
    background-color: #070707;
    margin-top: 100px;
}

h1 {
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 100px;
}