
.menu-buttons {
  position: absolute;
  display: flex;
  gap: 20px;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#play-button,
#mute-button,
#fullscreen-button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: yellow;
  border-radius: 12px;
  padding: 10px 25px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

#play-button:hover,
#mute-button:hover,
#fullscreen-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

#play-button,
#mute-button,
#fullscreen-button {
  font-family: "Bangers", system-ui;
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.button-container {
  position: absolute;
  display: flex;
  gap: 20px;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.restart-button,
.menu-button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: red;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.restart-button:hover,
.menu-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.ingame-ui {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 60;
}

.ingame-btn {
  border: none;
  cursor: pointer;
  color: yellow;
  border-radius: 12px;
  padding: 10px 25px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.ingame-btn:hover {
  background-color: rgba(255, 230, 0, 0.4);
  transform: scale(1.1);
}

.ingame-btn i,
.ingame-btn span {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

.mobile-btn {
  pointer-events: auto;
  background-color: rgba(72, 255, 0, 0.497);
  border: 2px solid rgba(255, 230, 0, 0.308);
  border-radius: 50%; 
  width: 50px;
  height: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
}

.mobile-btn img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.mobile-btn:active img {
  opacity: 1;
  transform: scale(0.9);
}
