
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bangers", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg_images/bg-image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 84px;
  letter-spacing: 4px;
  color: #ffc107;
  text-shadow:
    4px 4px 0px #d32f2f,
    6px 6px 0px #000000;
  transform: rotate(-2deg);
  margin-top: 50px;
  margin-bottom: 30px;
}

.d-none {
  display: none !important;
}

#desktop-instructions {
  min-width: 720px;
  display: flex;
  margin-top: 15px;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.instruction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.instruction-item .keyboard-key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255, 150, 0, 0.9);
  border: 2px solid rgba(255, 230, 0, 0.2);
  border-radius: 8px;
  box-shadow: 2px 4px 1px rgb(153, 69, 9);
  user-select: none;
  min-width: 40px;
  height: 40px;
}

.keyboard-key img {
  width: auto;
  height: 30px;
  font-weight: bold;
  filter: brightness(0);
  opacity: 0.8;
}

.instruction-text {
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
